# Amazon Vine Review Analysis

In [25]:
# Import Dependencies
import os
import pandas as pd

In [40]:
# Import vine_table.csv as DataFrame
# (Exported from pgAdmin PostgreSQL amazon_tools_reviews Database vine_table Table)

import_directory = "data"
import_file = "vine_table.csv"

file_to_load = os.path.join(import_directory, import_file)

vine_table_df = pd.read_csv(file_to_load)

In [41]:
# Check DataFrame
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2UM5QMHBHC90Q,5,0,0,N,Y
1,RF0D1LEIF6L7,4,0,0,N,Y
2,RM6YKIWQVNSY,1,6,6,N,Y
3,R1RL3L68ASPS36,4,0,0,N,Y
4,R1U4XFBFAG34CY,5,0,0,N,Y

In [42]:
# Check DataFrame
vine_table_df.count()

review_id            1741100
star_rating          1741100
helpful_votes        1741100
total_votes          1741100
vine                 1741100
verified_purchase    1741100
dtype: int64

In [43]:
# Check DataFrame
vine_table_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [44]:
# Count NULLs
vine_table_df.isnull().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [46]:
# Show Null star_rating Rows for Inspection (If Any)
vine_table_df.loc[(vine_table_df["star_rating"].isna())]

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [47]:
# Drop Null Rows (If Applicable)
#None