# Amazon Vine Review Analysis

In [1]:
# Import Dependencies
import os
import pandas as pd

In [2]:
# Import vine_table.csv as DataFrame
# (Exported from pgAdmin PostgreSQL amazon_tools_reviews Database vine_table Table)

import_directory = "data"
import_file = "vine_table.csv"

file_to_load = os.path.join(import_directory, import_file)

vine_table_df = pd.read_csv(file_to_load)

## Data Cleaning

In [3]:
# Check DataFrame
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2UM5QMHBHC90Q,5,0,0,N,Y
1,RF0D1LEIF6L7,4,0,0,N,Y
2,RM6YKIWQVNSY,1,6,6,N,Y
3,R1RL3L68ASPS36,4,0,0,N,Y
4,R1U4XFBFAG34CY,5,0,0,N,Y

In [4]:
# Check DataFrame
vine_table_df.count()

review_id            1741100
star_rating          1741100
helpful_votes        1741100
total_votes          1741100
vine                 1741100
verified_purchase    1741100
dtype: int64

In [5]:
# Check DataFrame
vine_table_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [6]:
# Count NULLs
vine_table_df.isnull().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [7]:
# Show Null star_rating Rows for Inspection (If Any)
vine_table_df.loc[(vine_table_df["star_rating"].isna())]

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [8]:
# Drop Null Rows (If Applicable)
#None

## Deliverable 2 Instructions

In [9]:
# 1. Filter the data and create a new DataFrame to retrieve
#    all the rows where the total_votes count is equal to or
#    greater than 20

vine_table_20_votes_df = vine_table_df.loc[(vine_table_df["total_votes"] >= 20)]

In [18]:
# Check DataFrame
vine_table_20_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5,20,23,N,Y
66,RSBELAIC899DO,5,46,51,N,Y
130,R2HCC4CJ59D225,4,43,43,N,Y
329,R39BVCCVPRV6F5,5,10,22,N,Y
609,RL9VF9WXHEHKR,5,35,36,N,Y
...,...,...,...,...,...,...
1741091,RQ11DPJXOBJQI,4,61,62,N,N
1741092,RT6Z2LXX3XEX3,5,27,28,N,N
1741095,R35Q0AQ8SH345M,5,19,20,N,N
1741097,R3LKB2S1HU172D,5,176,180,N,N
1741098,RBU9188F59ZRI,5,33,52,N,Y

In [15]:
# 2. Filter the new DataFrame created in Step 1 and
#    create a new DataFrame to retrieve all the rows
#    where the number of helpful_votes divided by total_votes
#    (percentage of helpful_votes) is equal to or greater than 50%

vine_table_majority_helpful_df = vine_table_20_votes_df.loc[(vine_table_20_votes_df["helpful_votes"]/vine_table_20_votes_df["total_votes"] >= 0.5)]

In [17]:
# Check DataFrame
vine_table_majority_helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5,20,23,N,Y
66,RSBELAIC899DO,5,46,51,N,Y
130,R2HCC4CJ59D225,4,43,43,N,Y
609,RL9VF9WXHEHKR,5,35,36,N,Y
661,R1ZINLWUOLTZ46,1,39,45,N,N
...,...,...,...,...,...,...
1741091,RQ11DPJXOBJQI,4,61,62,N,N
1741092,RT6Z2LXX3XEX3,5,27,28,N,N
1741095,R35Q0AQ8SH345M,5,19,20,N,N
1741097,R3LKB2S1HU172D,5,176,180,N,N
1741098,RBU9188F59ZRI,5,33,52,N,Y

In [25]:
# 3. Filter the DataFrame created in Step 2 and
#    create a new DataFrame that retrieves all
#    the rows where a review was written as part
#    of the Vine Program (paid) [vine == 'Y']

vine_table_vine_reviews_df = vine_table_20_votes_df.loc[(vine_table_20_votes_df["vine"] == 'Y')]

In [26]:
# Check DataFrame
vine_table_vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9436,R3QIQRG107AP19,5,38,41,Y,N
14472,R1ZNBHGCYE8VN1,5,175,181,Y,N
25527,R1BNZJ9IKGRBC2,4,63,70,Y,N
90707,R2IXTN4PBRHBO2,5,19,24,Y,N
93535,R32AOW3L09SYMQ,5,29,34,Y,N
...,...,...,...,...,...,...
1642015,R1UAEWCD653HJQ,3,54,60,Y,N
1642116,R246HWHC44DQM2,1,18,30,Y,N
1671161,R2L8QZJEZR8U55,5,72,78,Y,N
1671218,RFTE0WGGEM5H,5,20,22,Y,N
1671268,R9ICPIH37HMG2,3,103,111,Y,Y

In [28]:
# 4. Repeat Step 3, but retrieve rows
#    where a review was NOT written
#    as part of the Vine Program (unpaid) [vine == 'N']

vine_table_NOT_vine_reviews_df = vine_table_20_votes_df.loc[(vine_table_20_votes_df["vine"] == 'N')]

In [29]:
# Check DataFrame
vine_table_NOT_vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,RXAHWIC1584UQ,5,20,23,N,Y
66,RSBELAIC899DO,5,46,51,N,Y
130,R2HCC4CJ59D225,4,43,43,N,Y
329,R39BVCCVPRV6F5,5,10,22,N,Y
609,RL9VF9WXHEHKR,5,35,36,N,Y
...,...,...,...,...,...,...
1741091,RQ11DPJXOBJQI,4,61,62,N,N
1741092,RT6Z2LXX3XEX3,5,27,28,N,N
1741095,R35Q0AQ8SH345M,5,19,20,N,N
1741097,R3LKB2S1HU172D,5,176,180,N,N
1741098,RBU9188F59ZRI,5,33,52,N,Y

In [52]:
# 5. Determine the total number of reviews,
#    the number of 5-star reviews,
#    and the percentage of 5-star reviews
#    for the two types of review (paid vs. unpaid)
#    for ALL Vine and Non-Vine reviews

# First, perform analysis with original, unfiltered DataFrame,
# vine_table_df:

# a.1. Total Number of Reviews
n_reviews = vine_table_df["review_id"].count()
print(f"Total Number of Reviews: {n_reviews}")

# a.2. Total Number of Vine Reviews
n_vine_reviews = vine_table_df.loc[(vine_table_df["vine"]) == 'Y']["review_id"].count()
print(f"Total Number of Vine Reviews: {n_vine_reviews}")

# a.3. Total Number of Non-Vine Reviews
n_NOT_vine_reviews = vine_table_df.loc[(vine_table_df["vine"]) == 'N']["review_id"].count()
print(f"Total Number of Non-Vine Reviews: {n_NOT_vine_reviews}")

print("\n")

# b.1. Total Number of 5-star Reviews
n_5_star_reviews = vine_table_df.loc[(vine_table_df["star_rating"]) == 5]["review_id"].count()
print(f"Total Number of 5-Star Reviews: {n_5_star_reviews}")

# b.2. Total Number of Vine 5-star Reviews
n_vine_5_star_reviews = vine_table_df.loc[(vine_table_df["star_rating"] == 5) &
                                         (vine_table_df["vine"] == 'Y')]["review_id"].count()
print(f"Total Number of Vine 5-Star Reviews: {n_vine_5_star_reviews}")

# b.3. Total Number of Non-Vine 5-star Reviews
n_NOT_vine_5_star_reviews = vine_table_df.loc[(vine_table_df["star_rating"] == 5) &
                                         (vine_table_df["vine"] == 'N')]["review_id"].count()
print(f"Total Number of Non-Vine 5-Star Reviews: {n_NOT_vine_5_star_reviews}")

print("\n")

# c.1. Vine Reviews, Percentage of 5-star reviews
pct_vine_5_star_reviews = 100*n_vine_5_star_reviews/n_5_star_reviews
print(f"Vine Reviews, Percentage of 5-star Reviews: {pct_vine_5_star_reviews}")

# c.2. Non-Vine Reviews, Percentage of 5-star reviews
pct_NOT_vine_5_star_reviews = 100*n_NOT_vine_5_star_reviews/n_5_star_reviews
print(f"Non-Vine Reviews, Percentage of 5-star Reviews: {pct_NOT_vine_5_star_reviews}")

Total Number of Reviews: 1741100
Total Number of Vine Reviews: 7761
Total Number of Non-Vine Reviews: 1733339


Total Number of 5-Star Reviews: 1113566
Total Number of Vine 5-Star Reviews: 4328
Total Number of Non-Vine 5-Star Reviews: 1109238


Vine Reviews, Percentage of 5-star Reviews: 0.3886612917420252
Non-Vine Reviews, Percentage of 5-star Reviews: 99.61133870825797

In [72]:
# 6. Compile Results into a DataFrame

vine_reviews = {
    "review_type": "Vine",
    "total_reviews": n_vine_reviews,
    "total_5_star_reviews": n_vine_5_star_reviews,
    "pct_of_5_star_reviews": pct_vine_5_star_reviews,
}

NOT_vine_reviews = {
    "review_type": "Non-Vine",
    "total_reviews": n_NOT_vine_reviews,
    "total_5_star_reviews": n_NOT_vine_5_star_reviews,
    "pct_of_5_star_reviews": pct_NOT_vine_5_star_reviews,
}

review_summary_df = pd.DataFrame([vine_reviews, NOT_vine_reviews])

# Reset Index, if Desired:
#review_summary_df = review_summary_df.set_index("review_type")

# Check DataFrame
review_summary_df

  review_type  total_reviews  total_5_star_reviews  pct_of_5_star_reviews
0        Vine           7761                  4328               0.388661
1    Non-Vine        1733339               1109238              99.611339