# Amazon Vine Review Analysis

In [3]:
# Import Dependencies
import os
import pandas as pd

In [5]:
# Import vine_table.csv as DataFrame
# (Exported from pgAdmin PostgreSQL amazon_tools_reviews Database vine_table Table)

import_directory = "data"
import_file = "vine_table.csv"

file_to_load = os.path.join(import_directory, import_file)

vine_table_df = pd.read_csv(file_to_load)

In [6]:
# Check DataFrame
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2UM5QMHBHC90Q,5.0,0.0,0.0,N,Y
1,RF0D1LEIF6L7,4.0,0.0,0.0,N,Y
2,RM6YKIWQVNSY,1.0,6.0,6.0,N,Y
3,R1RL3L68ASPS36,4.0,0.0,0.0,N,Y
4,R1U4XFBFAG34CY,5.0,0.0,0.0,N,Y

In [7]:
# Check DataFrame
vine_table_df.count()

review_id            1741100
star_rating          1741095
helpful_votes        1741095
total_votes          1741095
vine                 1741095
verified_purchase    1741095
dtype: int64

In [8]:
# Check DataFrame
vine_table_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [15]:
# Count NULLs
vine_table_df.isnull().sum()

review_id            0
star_rating          5
helpful_votes        5
total_votes          5
vine                 5
verified_purchase    5
dtype: int64

In [24]:
# Show Null star_rating Rows for Inspection
vine_table_df.loc[(vine_table_df["star_rating"].isna())]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
732298,R2YJXB3A0TVPT2,NaN,NaN,NaN,NaN,NaN
986770,R11F7GMH1OI5QE,NaN,NaN,NaN,NaN,NaN
1023677,R372PRQ7YBM7DY,NaN,NaN,NaN,NaN,NaN
1090132,R2EN9VGG0RM1I0,NaN,NaN,NaN,NaN,NaN
1156979,R3JI5NZB8F52QT,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop Null Rows